body {
  font-family: 'Quicksand', sans-serif;
  color: white;
}


header {
  padding: 1em 2em;
  background: #B76837;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.wrapper {
  position: relative;
}

.title {
  clear: both;
  padding-top: 15px;
  font-size: 25px;
}

.nav-bar {
  position: absolute;
  right: 0;
  top: 0;
  /*float: right;*/
  border: none;
}

.nav-bar a {
  color: inherit;
  text-decoration: none;
}

h1 {
  top: 0;
  left: 0;
  float: left;
  font-size: 50px;
}

.tag {
  /*background: lightgrey;*/
  color: white;
  border-radius: 1.5em;
  padding: 2em;
  font-size: 30px;
  position: absolute;
  top: 40px;
  right: 10px;
  left: 10px;
}

ul li {
  display: inline-block;
  font-size: 23px;
  padding: 1em;
  color: white;
  text-decoration: none;
}

.landing {
  background: url("images/triangles.jpg");
  height: 500px;
  margin-top: 106px;
  position: relative;
}

.portfolio {
  background: darkgrey;
  height: 500px;
  margin: auto;
}

.about {
  background: pink;
  padding: 6em;
}

.contact {
  background: yellow;
  padding: 4em;

}

.footer {
  background: darkgrey;
  padding: 4em;
}

@media
